---
export interface Props {
	label: string;
	name: string;
  placeholder: string;
}

const { label, name, placeholder } = Astro.props;
---

<div>
  <label for={name}>
    {label}
    <input type="text" id={name} name={name} placeholder={placeholder} required>
  </label>
</div>
<style>

</style>
